<%= form_with(model: post, url: (post.new_record? ? posts_path : post_path(post)), method: (post.persisted? ? :patch : :post)) do |f| %>
  <% if post.errors.any? %>
    <% post.errors.full_messages.each do |msg|  %>
      <div class="alert alert-danger">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
  <%= f.hidden_field :user_id %>
  <p>
    <%= f.label :title, 'Title' %>
    <%= f.text_field(:title, class: 'form-control') %>
  </p>
  <p>
    <%= f.label :body, 'Body text' %>
    <%= f.text_area(:body, class: 'form-control', rows: 8) %>
  </p>
  <p>
    <%= f.submit(class: 'btn btn-success') %>
  </p>
<% end %>
