<div>
  <%= image_tag("main.jpg", class: "img-cover") %>
</div>

<h3 class="mb-5">All Posts</h3>

<div class="d-flex col-md-15 justify-content-md-between align-items-start">
  <%= render 'post', posts: @posts %>

  <div class="col-md-4">
    <div class="p-3 post-bg">
      <h4 class="my-5">Most interesting posts</h4>
      <div class="d-flex flex-column">
        <% interesting_posts = @posts.sample(3) %>
        <% interesting_posts.each do |post| %>
          <div class="d-flex justify-content-between my-3">
            <p><%= post.title %></p>
            <%= link_to "Read more..", post_path(post), class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="p-3 my-5 post-bg">
      <h4 class="my-5">Most interesting people</h4>
      <% users = User.all %>
      <% users.each do |user| %>
        <div class="d-flex justify-content-between my-3">
          <p><%= user.nickname %></p>
          <%= link_to "Read articles", user_path(user), class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>

</div>
