<div class="p-4 alert-success">
  <h1> <%= @post.title %></h1>
  <p> <%= simple_format(@post.body) %></p>
  <p> <%= @post.user_id %></p>
  <hr>
  <div class="d-flex">
    <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-warning' %>
    <%= button_to "Delete post", post_path(@post), method: :delete,
                  data: {confirm: "You are sure?"}, class: 'btn btn-danger mx-3' %>
  </div>
</div>
